<p style="color: green"><%= notice %></p>

<%= render @classroom %>

<div>
  <%= link_to "Modifier", edit_classroom_path(@classroom) %> |
  <%= link_to "Voir mes classes", classrooms_path %>

  <%= button_to "Supprimer", @classroom, method: :delete %>
</div>